<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sinatra Template</title>

  <meta name="description" content="Fluxin">
  <meta name="author" content="Kyle Bock">
  <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
</head>
<body class="container">
  <%= yield %>
  <%= javascript_tag 'js/application.js' %>
</body>
</html>
